body {
    font-family: 'Poppins', sans-serif;
    background: gainsboro url("../images/background.png");
    background-size: 80%;

}

#page {
    margin: 0 auto;
    width: 80%;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);

}

nav {
    width: 100%;
    background-color: lightgray;
    color: black;
    float: left;

    margin-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

#logo {
    text-align: center;
    padding-left: 25px;
}

#icon,
#name {
    padding: 2px;
    display: inline-block;
    vertical-align: middle;

}

nav ul {
    display: flex;
    float: right;
}

nav li {
    padding: 5px;
    display: inline-block;
}

nav a {
    color: silver;
    text-decoration: none;
}

nav a:hover {
    color: darkgray;
}

.active {
    color: dimgray;
}

header {
    padding: 10px;
}