body {
    font-family: 'Poppins', sans-serif;
    background: gainsboro url("../images/background.png");
    background-size: 80%;

}

#page {
    margin: 0 auto;
    width: 80%;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
overflow: hidden;
}

nav {
    width: 100%;
    background-color: white;
    color: black;
    float: left;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

#logo {
    text-align: center;
    padding-left: 25px;
}

#icon,
#name {
    padding: 2px;
    display: inline-block;
    vertical-align: middle;

}

nav ul {
    display: flex;
    float: right;
}

nav li {
    padding: 5px;
    display: inline-block;
}

nav a {
    color: silver;
    text-decoration: none;
}

nav a:hover {
    color: darkgray;
}

.active {
    color: dimgray;
}

header {
    padding: 10px;
    background: #eeeff0;
    align-items: center;

}
#headerContent{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
#headerPhoto{
    padding: 25px;

}
#photo{
    width: 350px;
    border-radius: 50%;
    border: white;
    border: 15px solid white;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.20);
}
#headerText{
    float: right;
    width: fit-content;
    text-align: justify;
    margin: 0 auto;
    display: inline-block;

}
#describ{
    color: #878889 ;
}
#CVButton{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 0.5em 1.7em;
    border-radius: 5em;
    border: 2px solid #307AF6 ;

    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.20);
}