:root {
    --main-color: #307af6;
    --main-color-light: #698ef8;
    --main-color-dark: #2c509d;
    --main-title-color: #323232;
    --main-text-color: #878889;

    --scrollbarBG: rgba(0, 0, 0, 0.0);
    --thumbBG: #307af6;
    --width-mobile: 1120px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: gainsboro url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}
#page {
    margin: 0 auto;
    width: 80%;
    max-width: 1120px;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

@media (max-width: 1120px) {

    body {
        margin: 0;
    }

    #page {
        width: 100%;
        max-width: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }
}

nav {
    width: 100%;
    background-color: white;
    color: black;
    float: left;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#logo {
    text-align: center;
    padding-left: 25px;
}

#icon,
#name {
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

nav ul {
    display: flex;
    float: right;
    margin-right: 25px;
}

nav li {
    padding: 5px;
    display: inline-block;
}

nav a {
    transition: .1s;
    color: silver;
    text-decoration: none;
}

nav a:hover {
    transition: .1s;
    color: darkgray;
}

.active {
    transition: .1s;
    color: dimgray;
}
/* bas de page */

footer {
    /* min-height: 145px;*/
    width: 100%;
    background-color: white;
    color: black;
    float: left;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D4D5D6;

}

footer li {
    padding: 5px;
    display: inline-block;
}

footer a,
footer span {
    transition: .3s;
    color: silver;
    text-decoration: none;
}

#copyright {
    margin-right: 25px;
}

footer a:hover {
    transition: .3s;
    color: darkgray;
}